body {
    margin: 0;
}

.start-button {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 60px;
    height: 21px;
    border: 1px solid #F0D070;
    border-radius: 3px;
    background-color: #8D150E;
}

.animation {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    background: #252525;
}

.animation-line {
    position: absolute;
    width: 485px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.animation-line.bottom {
    position: relative;
    top: 18px;
    left: 18px;
}

.animation-line .rhombus {
    position: relative;
    top: 0;
    width: 21px;
    height: 21px;
    transform: rotate(45deg);
    border: 1px solid #EFD06A;
    box-shadow: 0 4px 4px 0 #00000040 inset;
    transition: top 0.15s linear, background 0.075s linear;
    background: linear-gradient(0deg, #252525, #252525);
}
